@import '../../shareds/styles/mixins.scss';

.footer {
    padding: 40px;
    display: grid;
    grid-template-columns: [left]1fr [center]1fr [right]1fr;
    grid-template-rows: [up]1fr [down]1fr;
    align-items: center;
    grid-template-columns: 540px 1fr 180px 180px 180px;
    grid-row: 1fr 1fr;
    @include desktop {
        width: 1440px;
    }
    @include laptop {
        padding-left: 0px;
        // padding-right: 0px;
        width: 100%;
        
    }
    @include tabletBig {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: min-content;
        // grid-template-rows: repeat(4, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        width: 100%;
    }
    @include mobile {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min-content;
        // grid-template-rows: repeat(4, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    &_contrainer {
        background: linear-gradient(90deg, #FF6111 0%, #F31F63 100%);
        display: flex;
        justify-content: center;
    }
}

.info {
    color: #FFF;
    font-family: "GT Walsheim Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    line-height: 18px; /* 128.571% */
    max-width: 433px;
    &:last-child {
        justify-self: end;
    }
}

.group {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 10px;
}

.psBtn {
    width: 132px;
    height: 48px;
    background-color: white;
    min-width: 165px;
    justify-self: end;
}

.tgBtn {
    justify-self: start;
    padding: 10px 24px;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0,0,0,0);
    border: 2px solid #ffffff;
    border-radius: 12px;
    color: #FFF;
    font-family: "Heading Compressed Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 118.182% */
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
    white-space: nowrap;
    &:active {
        transform: scale(0.98);
    }
    @include tabletSmall {
        color: #FFF;
        font-family: "Heading Compressed Pro";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
        text-transform: uppercase;
    }
}
.logoContainer {
    justify-self: center;
    @include tabletBig {
        grid-column: 1 / -1;
        grid-row: 2;
        margin-bottom: 20px;
    }
    @include mobile {
        grid-row: 3;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

.ruStore, .playMarket, .appStore {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
    user-select: none;
    border-radius: 12px;
    &:active {
        transform: scale(0.98);
    }
}

.psBtn {
    @include tabletBig {
        width: 100%;
        justify-self: center;
    }
    @include mobile {
        min-width: 0px;
    }
}
.ruStore, .playMarket {
    @include mobile {
        grid-row: 2;
    }
}

.info {
    @include tabletBig {
        grid-row: 4;
        grid-column: 1 / -1;
        justify-self: center;
        align-items: start;
        max-width: 890px;
        text-align: center;
        @include mobile {
            grid-row: 5;
            max-width: 350px;
        }
    }
}
.links {
    white-space: nowrap;
    text-align: end;
    grid-column: 5;
    @include tabletBig {
        display: flex;
        justify-self: center !important;
        align-items: center;
        white-space: nowrap;
        grid-row: 3;
        grid-column: 1 / -1;
        gap: 20px;
        @include mobile {
            flex-direction: column;
            grid-row: 4;
            gap: 4px;
            margin-bottom: 30px;
        }
    }
}

.link {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.myForm {
    position: fixed;
    top: 0;
    left: calc(50% - 250px);
    z-index: 10;
    width: 500px;
    height: 800px;
    &::before {
        content: " ";
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
    }
}