@import "src/shareds/styles/mixins";

.listItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--text-primary);

  @include mobile {
    gap: 8px;
  }

  .title {
    @include text-18;

    @include tabletBig {
      @include text-16;
      line-height: 20px;
    }
  }
  .description {
    @include text-14;
    line-height: 20px;
    font-weight: 400;
  }
}
