@import '@/styles/mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.ratingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonDisabled {
  cursor: default;
  background: transparent;
  color: var(--gray2);
}