@import '../../../shareds/styles/mixins.scss';

.section {
	padding-bottom: 120px;

	@include mobile {
		padding-bottom: 80px;
	}
}

.title {
	max-width: 660px;
}

.wrapper {
	display: flex;
	justify-content: center;
}

.form {
	background-color: var(--white);
	border-radius: 40px;
	padding: 80px;
	max-width: 660px;
	border-radius: 40px;
	border: 1px solid #E9E9E9;

	@include mobile {
		padding: 20px;
		border-radius: 20px;
	}
}