@import '../../../shareds/styles/mixins.scss';

.wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 310px 350px 310px;
	justify-content: space-between;
	align-items: flex-start;
	grid-template-areas:
		"info1 video info2";

	@include laptop {
		grid-template-columns: 373px 262px 373px;
	}

	@include tabletBig {
		grid-template-columns: 261px 262px 261px;
	}

	@include tabletSmall {
		grid-template-columns: auto;
		grid-template-areas:
			"video video"
			"info1 info2";
		row-gap: 80px;
		column-gap: 40px;
	}

	@include mobile {
		grid-template-areas:
			"video"
			"info1"
			"info2";
		row-gap: 40px;
	}
}

.video {
	grid-area: video;
	background-color: var(--text-red);
	margin: auto;
	width: 346px;
	height: 748px;

	@include laptop {
		width: 262px;
		height: 567px;
	}

	@include tabletSmall {
		width: 314px;
		height: 680px;
	}

	@include mobile {
		width: 230px;
		height: 498px;
	}
}

.infoBlock1 {
	grid-area: info1;
}

.infoBlock2 {
	grid-area: info2;
}
