@import "@/shareds/styles/mixins";

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding: 48px;
	border: 1px solid var(--stroke-gray);
	border-radius: 16px;
}

.top {
	display: flex;
	align-items: center;
	gap: 16px;

	.avgRating {
		@include text-40;
	}

	.topInfo {
		display: flex;
		flex-direction: column;
		gap: 4px;

		.totalRatings {
			@include text-12;
			color: var(--gray2);
		}
	}
}
