@import '@/shareds/styles/mixins.scss';

.wrapper {
  border-radius: 12px;
  width: 100%;
  height: 284px;

  @include laptop {
    height: 248px;
  }
  @include tabletBig {
    height: 198px;
  }
  @include tabletSmall {
    height: 140px;
  }
  @include mobile {
    height: 142px;
  }
}
