@import '@/styles/mixins.scss';

.wrapper {
  position: relative;
}

.heading {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;

  &_text {
    @include text-14;
  }

  &_icon {
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    
    svg {
      width: 12px;
      height: 12px;
    }
  }

  &_iconUp {
    transform: rotate(180deg);
  }
}