@import '../../../shareds/styles/mixins.scss';

.title {
  font-family: "Heading Compressed Pro";
  font-size: 240px;
  line-height: 100%;
  background: linear-gradient(90deg, #FF660A 0%, #F11969 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin: 0;
  // position: absolute;
  // transform: translateX(-110vw);
  @include desktop {
    margin: 48px 0px;
  }
  @include laptop {
    font-size: 200px;
    margin: 32px 0px;
  }
  @include tabletBig {
    position: relative;
    transform: translateX(0vw);
    font-size: 140px;
    margin-bottom: 128px;
  }

  @include tabletSmall {
    font-size: 112px;
    margin-bottom: 80px;
  }

  @include mobile {
    font-size: 72px;
    margin-bottom: 0px;
  }
}