@import "../../styles/mixins";

.selectedItem {
  @include text-14;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 12px;
  color: var(--text-primary);
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--additional);
  border-radius: 8px;
  gap: 4px;
  width: max-content;
  cursor: pointer;
}

.active {
  background-color: var(--text-primary);
  color: var(--white);
  box-shadow: 0 0 0 1px transparent;
  .icon {
    color: var(--white);
  }
}

.removeButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--white);
  padding: 0;
}

.icon {
  width: 16px;
  height: 16px;
  color: var(--text-primary);
}
