@font-face {
    font-family: "GT Walsheim Pro";
    font-weight: normal;
    src: url(../assets/fonts/gt-walsheim-light-web.woff2) format('woff2');
}

@font-face {
    font-family: "Heading Compressed Pro";
    font-weight: normal;
    src: url(../assets/fonts/heading-compressed-pro-regular.woff2) format('woff2');
}
