@mixin mobile {
	@media only screen and (max-width: 767px) {
		@content;
	}
}

@mixin tabletSmall {
	@media only screen and (max-width: 1023px) {
		@content;
	}
}

@mixin tabletBig {
	@media only screen and (max-width: 1279px) {
		@content;
	}
}

@mixin laptop {
	@media only screen and (max-width: 1439px) {
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width: 1440px) {
		@content;
	}
}

@mixin text-40 {
	font-size: 40px;
	line-height: 44px;
	font-weight: 600;
}

@mixin text-32 {
	font-size: 32px;
	line-height: 36px;
	font-weight: 600;
}

@mixin text-24 {
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
}

@mixin text-20 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
}
@mixin text-18 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
}
@mixin text-16 {
	font-size: 16px;
	line-height: 20px;
}

@mixin text-14 {
	font-size: 14px;
	line-height: 18px;
}

@mixin text-12 {
	font-size: 12px;
	line-height: 16px;
}

@mixin text-10 {
	font-size: 10px;
	line-height: 16px;
}

@mixin icon {
	bottom: 24px;
	right: 24px;
	height: 56px;

	svg {
		height: 56px;
	}
}

@mixin flex {
	flex-direction: row;
	flex-wrap: nowrap;
}