@import "../../styles/mixins";

.tag {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  color: var(--text-primary);
  background-color: var(--white);
  border-radius: 20px;
  font-size: 11px;
  line-height: 16px;
  cursor: pointer;
  transition: 0.1s ease-in-out;

  &:hover {
    background-color: transparent;
  }
}
